<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>controller.CheckLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHocsinh</servlet-name>
        <servlet-class>controller.AddHocsinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListWife</servlet-name>
        <servlet-class>controller.ListWife</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListHocsinh</servlet-name>
        <servlet-class>controller.ListHocsinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHocsinh</servlet-name>
        <servlet-class>controller.DeleteHocsinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHocsinh</servlet-name>
        <servlet-class>controller.SearchHocsinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHocSinh</servlet-name>
        <servlet-class>controller.EditHocSinh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHocSinhProcess</servlet-name>
        <servlet-class>controller.EditHocSinhProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckSession</servlet-name>
        <servlet-class>controller.CheckSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddHocSinhController</servlet-name>
        <servlet-class>controller.AddHocSinhController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetHocphi</servlet-name>
        <servlet-class>controller.ResetHocphi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clickRegister</servlet-name>
        <servlet-class>controller.clickRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHocsinh</servlet-name>
        <url-pattern>/AddHocsinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListWife</servlet-name>
        <url-pattern>/ListWife</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListHocsinh</servlet-name>
        <url-pattern>/ListHocsinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHocsinh</servlet-name>
        <url-pattern>/DeleteHocsinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHocsinh</servlet-name>
        <url-pattern>/SearchHocsinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHocSinh</servlet-name>
        <url-pattern>/EditHocSinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHocSinhProcess</servlet-name>
        <url-pattern>/EditHocSinhProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckSession</servlet-name>
        <url-pattern>/CheckSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddHocSinhController</servlet-name>
        <url-pattern>/AddHocSinhController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetHocphi</servlet-name>
        <url-pattern>/ResetHocphi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clickRegister</servlet-name>
        <url-pattern>/clickRegister</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>CheckSession</welcome-file>
    </welcome-file-list>
</web-app>
